/*==============*/
/*HEADER AND NAV*/
/*==============*/
#searchBar {
	margin-right: 10px;
}

/*============*/
/*MAIN CONTENT*/
/*============*/
#main-content {
	margin-top: 50px;
}

.nav-wrapper {
	background-color: lightblue;
}

.btn {
	background-color: lightblue;
}

.page-footer {
	background-color: lightblue;
}

/*======*/
/*FOOTER*/
/*======*/


